body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f0f0da;
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9c0d0f;
    margin-top: 45px;
    color:#f0f0da;
    align-items: center;
    a {
        text-decoration: none;
        color:#f0f0da;
    }

}
